@import "tailwindcss";

@font-face {
  font-family: font1;
  src: url("/fonts/font1.woff2") format("woff2");
}

@font-face {
  font-family: font2;
  src: url("/fonts/font2.woff2") format("woff2");
}

html, body {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 3%);
  cursor: none;
  scroll-behavior: smooth;
}


/* @keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-duration: 70s;
} */
